{% extends 'base.html'%}
{%block js%}

{%endblock%}
{%block title%}
Trainees -New
{%endblock%}

{%block content%}
<h1>Welcome to add new trainee</h1>
<form method="post" enctype="multipart/form-data">
    {%csrf_token%}
    <label>Name:</label>
    <input type="text" name="trname" required>
    </br>
    <label>Email:</label>
    <input type="text" name="tremail" required>
    </br>
    <label>Track:</label>
        <select name="trtrack">
            {%for track in tracks%}
                <option value="{{track.id}}">{{track.name}}</option>
            {%endfor%}
        </select>
    </br>
    <label>Profile Image:</label>

    <label for="trimg">File:</label>
        <input type="file" id="trimg" name="trimg"><br><br>
    </br>
    <input type="submit" value="Add Trainee">
</form>
<div style="color:red">
    <h1>{{Error}}</h1>
</div>
{%endblock%}

