{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>
    {% block title%}
    Base Page
    {%endblock%}
  </title>
</head>
<body>
<table border="1" width="100%" height="100%">
  <tr>
    <td>
      <h1>header</h1>
      <center>
        <img width="10%"  height="10%" src="{%static 'imgs/img.png'%}">

      <br>
        <a href="{%url 'addtrack' %}">Tracks</a>
        <a href="">Trainees</a>
        <a href="">Logout</a>
      </center>
    </td>
  </tr>
  <tr>
    <td>
      {%block content%}
        <h1>content</h1>
      {%endblock%}
    </td>
  </tr>
  <tr>
    <Td>
      <h1>footer</h1>
    </Td>
  </tr>
</table>
<script>
  {%block js%}
  alert('iam base page');
  {%endblock%}

</script>
</body>
</html>