<!--accsess for imgs,css,js-->
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Regsiatrion</title>
</head>
<body>
<img src="imgs/img.png" width="50%" height="50%">
<img src="{% static 'imgs/img.png' %}" width="50%" height="50%">
<form method="post">
    <label>Full Name</label>
    <input type="text" name="fname">
    </br>
    <label>Username</label>
    <input type="text" name="username">
    <br>
    <label>Password</label>
    <input type="password" name="password">
    </br>
    <input type="submit" value="Regsiter">

</form>

</body>
</html>